@import "ui";

html,
body,
#__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  background: unset;
  border: unset;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  visibility: hidden;
}

.domContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
}

.welcomeContainer {
  position: relative;
  padding: 1em;
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

/* ---------- Settings ---------- */

.settings {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: hsla(0, 0%, 100%, 0.6);
}

/* ---------- Player ---------- */

.playerContainer {
  pointer-events: auto;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #131313;
  transition: all 0.5s;
  opacity: 0.8;
}

.playerContainer .playerLeft {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1em;
  min-width: 180px;
  width: 30%;
}

.playerContainer .trackInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  margin-left: 1rem;
}

.playerContainer .playerCenter {
  max-width: 722px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.playerContainer .playerControls {
  display: flex;
  justify-content: space-around;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
}

/** Progress **/

.progress {
  border: 1px solid #212131;
  background-color: #212131;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
}

.progressBar {
  background-color: green;
  height: 4px;
}

.playerContainer .playerRight {
  min-width: 180px;
  width: 30%;
}

/** Social links **/

.socialLinks {
  position: relative;
  right: 1rem;
  top: 1rem;
  display: flex;
  justify-content: flex-end;
}
