html,
body,
#__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  background: unset;
  border: unset;
}

img {
  max-width: 100%;
  height: auto;
}

.domContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
}

.hidden {
  visibility: hidden;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  z-index: 100;
}

.welcomeContainer {
  width: max-content;
  margin: auto;
  padding: 1em;
  color: #fff;
}

.typewriterText p {
  width: 100%;
  border-right: 0.15em solid orange;
  font-family: "Courier";
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-delay: calc(var(--n) * 2s);
  animation-delay: calc(var(--n) * 2s);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* ---------- Settings ---------- */
.settings {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #292929;
}

/* ---------- Playlists ---------- */

.myPlaylists {
  display: flex;
  position: fixed;
  padding: 1em;
  bottom: 0;
}

.playlist {
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
}

.playlist img {
  max-width: 100%;
  height: auto;
}

/* ---------- Player ---------- */

.playerContainer {
  pointer-events: auto;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #292929;
  transition: all 0.5s;
  opacity: 0.7;
}

.playerContainer .playerLeft {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1em;
  min-width: 180px;
  width: 30%;
}

.playerContainer .trackInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.playerContainer .playerCenter {
  max-width: 722px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.playerContainer .playerControls {
  display: flex;
  justify-content: space-around;
}

.playerControls .iconButton {
  border-radius: 100%;
  transition: all 0.2s;
}

.iconButton.hover {
  color: #fff;
  cursor: pointer;
}

/** Progress **/

.progress {
  border: 1px solid #212131;
  background-color: #212131;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
}

.progress__bar {
  background-color: green;
  height: 4px;
}

.playerContainer .playerRight {
  min-width: 180px;
  width: 30%;
}
