@import "ui";

html,
body,
#__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  background: unset;
  border: unset;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  visibility: hidden;
}

.domContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  touch-action: auto;
}

.fullscreenView {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.welcomeContainer {
  position: fixed;
  top: 2rem;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
}

/* ---------- Settings ---------- */

.settings {
  position: fixed;
  top: 1rem;
  right: 1rem;
  color: hsla(0, 0%, 100%, 0.6);
}

/* ---------- Player ---------- */

.playerContainer {
  min-height: 91px;
  pointer-events: auto;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #131313;
  color: hsla(0, 0%, 100%, 0.8);
  transition: all 0.5s;
  opacity: 0.8;
  padding: 0.5rem;
}

.playerContainer .playerLeft {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 180px;
  width: 25%;
  margin: 0 0.5rem;
}

.playerContainer .playerCenter {
  max-width: 722px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0.5rem;
}

.playerContainer .playerRight {
  min-width: 180px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
}

.playerContainer .playerLoader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerContainer .playerLoader .loading {
  margin: 0;
}

.playerContainer .playerLoader .dots {
  margin-top: 0;
  margin-left: 1rem;
}

/** Social links **/

.socialLinks {
  position: fixed;
  right: 1rem;
  top: 1rem;
  display: flex;
  justify-content: flex-end;
}
