div(id='header')
    nav(class='navbar navbar-dark bg-dark')
        a(href='/' class='navbar-brand') tessellator
        button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarMenu' aria-controls='navbarMenu' aria-expanded='false' aria-label='Toggle navigation')
            span(class='navbar-toggler-icon')
        </button>
        div(class='collapse navbar-collapse' id='navbarMenu')
            ul(class='navbar-nav mr-auto')
                li(class='nav-item')
                    a(href='/' class='nav-link') Home
                li(class='nav-item')
                    a(href='/about' class='nav-link') About