extends layout

block content
    div(id='login' class='align-items-center')
        div(class='row d-flex justify-content-center m-5')
            h1 Welcome Home
        div(class='row d-flex justify-content-center m-5')
            a(href='/login' class='btn btn-primary') Login with Spotify
        div(class='row d-flex justify-content-center m-5')
            h4 A 3D interactive music visualizer.


